body{
    background-image: url('imge/донатик))).png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Dela Gothic One', 'sans-serif';
    margin-left: 80px;
    margin-right: 80px;
}

footer{
    display: flex;
    color: rgb(131, 160, 198);
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
    margin-left: 20%;
    font-size: 120%;
}

header{
    margin-right: 70px;
    margin-left: 70px;
}

.logo{
    font-size: 300%;
    color:rgb(93, 135, 189);
    display: flex;
    justify-content: center;

}

.nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%; 
    font-size: 250%;
    color: rgb(255, 255, 255);

}

.active{
    margin-left: 10px;
    flex-direction: row;
    font-size: 70%;
    display:flex;
    list-style: none;
    text-decoration: none;
    color: rgb(93, 135, 189);
}

.annotation{
    font-family:'Courier New', Courier, monospace;
}

.todo{
    color:rgb(183, 68, 167)
}

a:hover {
    border-bottom: 5px solid rgb(93, 135, 189);
}